<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <title>Sample</title>
  </head>
  <body>
    <div class="container">
      <!-- Content here -->
      <div class="row mt-3">
        <h1 class="display-4">불법 저작물 탐지 시스템</h1>
      </div>

      <div class="mt-3">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-outline-primary btn-sm">Crawling</button>
          </div>
          <div class="col">
            <select class="form-control form-control-sm">
              <option selected disabled>분석방법</option>
              <option value="1">게시글 기반 검색(simhash)</option>
              <option value="2">키워드 기반 검색(noise)</option>
            </select>
          </div>
          <div>
            <input type="file" class="form-control-file" id="">
          </div>
          <div class="col">
            
          </div>
          <button id="analysis" type="button" class="col btn btn-outline-primary btn-sm">분석</button>
        </div>

        <script>
          $('#analysis').click(function(){
            if(1){
              $.ajax({
                type:'post',
                contentType: 'application/x-www-form-urlencoded;charset=euc-kr',
                dataType:'json',
                data:{
                  crawling: $('#crawling').val(),
                  copyright: $('#copyright').val(),
                  search: $('#search').val()
                },
                url:'/getJson',
              }).done(function(res){
                var html = '<table class="table table-striped text-center" style="overflow:auto">';
                html += '<tr>';
                var flag = 0;
                $.each(res[0], function(index, value){
                    html += '<th>'+index+'</th>';
                });
                html += '</tr>';
                $.each(res, function(index, value){
                    html += '<tr>';
                    $.each(value, function(index2, value2){
                        html += '<td>'+value2+'</td>';
                    });
                    html += '<tr>';
                });
                html += '</table>';
                $('#show').html(html);
              });
            }
          });
        </script>
        <div class="row">
          <input id="search" type="text" class="form-control form-control-sm mt-3">
        </div>
        <script>
          $(document).ready(function(){
            $("#search").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#show table tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
        </script>
      </div>

      <div class="row mt-3">
        <div id="show"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>